<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_reg.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="left" >
        <div class="card">
            <h2 class="register">Register</h2>
            <form action="/register" method="post">
                {% with messages = get_flashed_messages(category_filter=['regError']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}    
                {% endwith %}
                <label for="fname">First Name:</label>
                <input type="text" name="fname" value="{{session['fname']}}">
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" value="{{session['lname']}}">
                <label for="email">Email:</label>
                <input type="email" name="email" value="{{session['email']}}">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="passConf">
                <input class = "reg_button" type="submit" name="register">
            </form>
        </div>
    </div>
    <div class="left" >
        <div class="card">
            <h2 class="login">Login</h2>
            <form action="/login" method="post">
                {% with messages = get_flashed_messages(category_filter=
                ['loginError']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}    
                {% endwith %}
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <input class = "log_button" type="submit" name="login">
            </form>
        </div>
    </div>
</body>
</html>

