@font-face {
    font-family: lovelo-line;
    src: url('../fonts/Lovelo-LineLight.eot');
    src: url('../fonts/Lovelo-LineLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lovelo-LineLight.woff2') format('woff2'), url('../fonts/Lovelo-LineLight.woff') format('woff');
    }

    @font-face {
        font-family: lovelo-black;
        src: url('../fonts/Lovelo-Black.eot');
        src: url('../fonts/Lovelo-Black.eot') format('embedded-opentype'),
        url('../fonts/Lovelo-Black.woff2') format('woff2'), url('../fonts/Lovelo-Black.woff') format('woff');
        }

        @font-face {
            font-family: TTPhobo;
            src: url('../fonts/TTPhobos-Stencil.ttf') format('truetype'),
                url('../fonts/TTPhobos-Stencil.woff2') format('woff2'),
                url('../fonts/TTPhobos-Stencil.woff') format('woff');
        }



body{
    margin: 0;
}

.first-block{
    background-color: black;
    height: 100vh;
}

.second-block{
    border-bottom: 2px solid black;
    font-family: lovelo-line;
}

.third-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.text-and-pic{
    display: flex;
    justify-content: space-around;
    margin: 0% 10% 0%;
    background-color: white;
}

.header-text{
    font-family: TTPhobo;
    font-size: 300%;
    text-align: center;
    color: #FF914D;
    /* text-shadow: 40 40 5px #FF914D; */
    box-shadow: -1px 0 0 1px hsla(0, 0%, 100%, 0.07),inset 0 0 0 1px hsla(0,0%,100%,.07);
}

.sub-header{
    font-family: lovelo-black;
    font-size: 300%;
    text-align: center;
}

.pic1{
    height: 50%;
    width: 50%;
}


